extends layout.pug

block content
  h1 Cursos 
  each item in data
    li
      div= item.name
      div= item.category
      br
  br
  form(action="/" method="POST")
    label Name:
    input(type="text" 
      name="name"
      required
    )

    label Category:
    select(name="category" required)
      option BackEnd
      option FrontEnd
      option Fullstack
      option Mobile

    input(type="submit"
      value="Done"
    )  
