@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto&display=swap');
body {
    background-color: whitesmoke;
    font-family: Roboto, Montserrat, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

a {
    text-decoration: none !important;
}

span {
    padding-right: 1em;
}

.page-footer {
    background-color: whitesmoke;
    align-items: center;
    align-content: center;
    padding: 1em;
}