<!DOCTYPE html>
<html lang="pt-br">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">       
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  		<link href="dist/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  		<link href="dist/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
            
    </head>
    <body>

	<nav class="nav-extended">
	    <div class="nav-wrapper">
	      <a href="#" class="brand-logo">Logo</a>
	      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	    </div>
	    <div class="nav-content">
	      <ul class="tabs tabs-fcamara">
	        <li class="tab"><a class="active" href="#fila">Filas</a></li>
	        <li class="tab"><a href="#minhaFila">Minhas Filas</a></li>
	        <li class="tab"><a href="#atividade">Atividades</a></li>
	      </ul>
	    </div>
  	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="sass.html">Sass</a></li>
	    <li><a href="badges.html">Components</a></li>
	    <li><a href="collapsible.html">JavaScript</a></li>
	</ul>

	<div id="fila" class="col s12">
		










	</div>














	<div id="minhaFila" class="col s12">Test 2</div>
	<div id="atividade" class="col s12">Test 3</div>






   		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  		<script src="dist/js/materialize.js"></script>
  		<script src="dist/js/init.js"></script>
  		
  	

    </body>
</html>
